.site-logo {
  img {
    max-width: 185px;
  }
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .nav-next {
    text-align: end;
  }
  .nav-next,
  .nav-previous {
    height: 100%;
    padding: 1rem 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    a {
      display: flex;
      flex-direction: column;
      .nav-subtitle {
        color: $black;
        font-size: 0.8rem;;
      }
      .nav-title {
        font-weight: $font-weight-bold;
      }
    }
    :first-child {
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}