a {
    color: $color__link;
    text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: $primary-light auto 1px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
