// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns );
}

@mixin navigation-link {
	color: $black;
	font-size: 0.98rem;
	font-weight: $font-weight-normal;
	text-decoration: none;
	display: block;
	position: relative;
	text-transform: capitalize;
}

@mixin sub-menu-link {
	width: 100%;
	background-color: $white;
	color: $light-gray;
	font-size: 14px;
	line-height: 1.35;
	text-transform: capitalize;
	padding: 7px 17px;
	transition: all 0.3s ease;
}

@mixin sub-menu {
	left: 1em;
	display: block;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	border-radius: 4px;
	box-shadow: 0 4px 30px 5px #0000000d;
}

@mixin sub-menu_icon {
	content: "\ea4a";
	font-family: boxicons !important;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: 0;
	text-rendering: auto;
	display: inline-block;
	margin-left: 6px;
	font-size: 19px;
}