@font-face {
	font-family: 'Mulish';
	font-style: Medium;
	font-weight: 500;
	font-display: swap;
	src: url( ../fonts/Mulish-Medium.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Mulish';
	font-style: Italic;
	font-weight: 500;
	font-display: swap;
	src: url( ../fonts/Mulish-MediumItalic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: Regular;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/IBMPlexSans-Regular.woff2 ) format('woff2');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: Italic;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/IBMPlexSans-Italic.woff2 ) format('woff2');
}
