.sticky {
  display: block;
  border-left: 4px solid $primary!important;
}

.post,
.page {
  margin: 0 0 1.5em;
  overflow: auto;
}

.post {
  .post-thumbnail {
    margin-bottom: 1rem;
  }
  .tags-links {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 12px 0;
    a {
      background-color: $accent;
      padding: 0.3rem 1rem;
      color: $dark;
      display: inline-block;
      margin: 0.2rem 0 0 0;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.entry-meta {
  .site-title {
    font-size: 2rem;
    font-weight: 800;
  }
  }


.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.2em 0 1.2rem;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

article {
  &:first-child {
    margin-top: 5rem;
  }
  .card-body {
    padding: 2rem;
  }
  .footer-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $accent;
    margin-top: 16px;
    padding-top: 16px;
    font-size: 0.8rem;
    font-weight: 600;
    .post-date-author {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        object-fit: cover;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 8px;
      }
      .author {
        * {
          display: block;
        }
      }
    }
  }
}

.single-post {
  .entry-header {
    .cat-links {
      margin-bottom: 1rem;
      .post-categories {
          display: flex;
          a {
            background-color: $red-100;
            border-radius: 0px;
            color: $primary;
            display: inline-block;
            font-size: 12px;
            font-weight: $font-weight-bold;
            margin: 0.2rem 0.2rem 0 0.2rem;
            padding: 0.3rem 1rem;
          }
        }
    }
  }
}
